body {
  font-family: Arial;
  background: #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.card {
  background: white;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

input, button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
}
