body {
    font-family: Arial;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: white;
    padding: 25px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.login-container input {
    width: 90%;
    padding: 10px;
    margin: 10px;
}

button {
    width: 95%;
    padding: 10px;
    background: #0066ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
